@import "tailwindcss";

@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'roboto', sans-serif;
}
@theme {
  --color-primary: oklch(0.05 0 0);         /* Near black */
  --color-primary-dark: oklch(0.02 0 0);    /* Deeper black */
}
