@import "tailwindcss";

/* src/index.css */
@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'roboto', sans-serif;
}
